body{
display: flex;
justify-content: space-between;
font-family: 'Lato', sans-serif;
margin: 0;
font-size: 20px;
}
code {
    display: block;
    text-align: left;
    white-space: pre;
    background-color: #0F2D3F;
    color:white;
    padding: 8px;
    margin: 10px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
  }

p{
    font-size: 1rem;
}
h2{
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0;
}
header{
    font-size: 40px;
    font-weight: 700;
    text-transform:uppercase;
    margin: 8px 0px;
}
ul>li{
   font-size: 1rem;
}

#navbar li{
    font-size: 1.3rem;
    list-style: none;
    padding: 5px 0px;
    border-top: 1.5px solid #232324d5 ;
}

a{
    text-decoration: none;
    color: #373741;
    cursor: pointer;
}
a:active{
    color:#013378;
}

 #main-doc{
margin: 2rem;
}

 #navbar{
    border-right: 8px solid #37374180;
    padding: 1em;
    position: sticky;
    min-width: 290px;
} 

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }

  /* #navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: #37374180;
  }

  #main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
  } */

  @media screen and (max-width: 800px) {
    body {
      display: flex;
      flex-direction: column;
    }
    code {
      font-size: 13px;
    }
    #navbar{
      width: 100%;
  }
  #main-doc{
    width: 100%;
    }
  
}

